{% extends "layout/basic.html" %}
{% block header %} Задания {% endblock %}
{% block content%}


<table>
	<thead>
		<tr>
			<td>Описание</td>
			<td>E-mail получателя</td>
			<td>Текст сообщения</td>
			<td>Дата\время отправки</td>
			<td>Частота повторения</td>
		</tr>
	</thead>
		<tbody>	
			{% for snd in snds %}
				<tr>
					<td>{{ snd.description }} </td>
					<td> <a href={% url 'edit' pk=snd.pk %}> {{ snd.mailto }} </a></td>
					<td> {{ snd.text }} </td>
					<td> {{ snd.dtime|date:"d.m.Y H:i:s" }} </td>
					<td> {{ snd.repeat }} </td>
					<td><button type="submit" onClick='location.href="{% url 'edit' pk=snd.pk %}"'>Изменить</button></td>
					<td><button type="submit"  onClick='location.href="{% url 'delete' pk=snd.pk %}"' ">Удалить</button></td>
				</tr>
				
			{% endfor %}
		</tbody>	
</table>


{% endblock %}

